/* global styles */

:root {
    --main-background: hsl(0, 0%, 94%);
    --component-background: hsl(0, 0%, 100%);
    --primary-text: hsl(0, 0%, 8%);
    --secondary-text: hsl(0, 1%, 44%);
    --border: hsl(0, 0%, 86%);
    --purple: hsl(259, 100%, 65%);
    --light-red: hsl(0, 100%, 67%);
    --button-hover: hsl(259, 100%, 72%);
}

:root.dark {
    --main-background: hsl(0, 0%, 11%);
    --component-background: hsl(0, 0%, 5%);
    --primary-text: hsl(0, 0%, 92%);
    --secondary-text: hsl(0, 1%, 60%);
    --border: hsl(0, 0%, 38%);
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.3;
    background-color: var(--main-background);
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    transition: all 0.25s ease-in-out;
}

h1, h2, h3, h4, h5, h6, p, input {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}
