.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

/* .main {
    display: flex;
    width: 100%;
    height: 100%;
} */

.age-calculator {
    margin: auto;
    width: 343px;
    /* margin-top: 5.5rem; */
    padding: 3rem 1.5rem 2.625rem 1.5rem;
    border-radius: 1.375rem;
    border-bottom-right-radius: 5.875rem;
    background-color: var(--white);
}

.age-calculator__form-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.age-calculator__form-items > :not(:last-child) {
    margin-right: 1rem;
}

.age-calculator__form-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.age-calculator__form-label {
    margin-bottom: 0.3125rem;
    color: var(--smokey-grey);
    font-size: 0.8125rem;
    letter-spacing: 2.4px;
}

.age-calculator__form-label--error {
    color: var(--light-red);
}

.age-calculator__form-input {
    padding: 0.6875rem 1rem;
    border: 0.0625rem solid var(--light-grey);
    border-radius: 0.4375rem;
    outline: none;
    width: 5.5rem;
    font-family: 'Poppins', 'sans-serif';
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.age-calculator__form-input:hover {
    border-color: var(--purple);
}

.age-calculator__form-input:focus {
    border-color: var(--purple);
}

.age-calculator__form-input--error {
    border-color: var(--light-red);
}

.age-calculator__button-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 3.9325rem;
    margin-bottom: 3.625rem;
}

.age-calculator__button-container-span {
    display: block;
    width: 100%;
    height: 0.125rem;
    background-color: var(--off-white);
}

.button {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    outline: none;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--purple);
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.button img {
    position: relative;
    top: 0.125rem;
    width: 1.5rem;
}

.button:hover {
    background-color: var(--off-black);
}

.age-calculator__results > :not(:last-child) {
    margin-bottom: -0.6875rem;
}

.age-calculator__result {
    font-style: italic;
    font-weight: 800;
    font-size: 3.5rem;
    color: var(--off-black);
    letter-spacing: -1px;
}

.age-calculator__result span {
    margin-right: 0.5rem;
    color: var(--purple);
}

.age-calculator__form-error {
    width: 5.5rem;
    margin-top: 0.625rem;
    font-size: 0.875rem;
    font-weight: 400;
    font-style: italic;
    color: var(--light-red);
}

@media screen and (min-width: 840px) {
    .age-calculator {
        width: 840px;
        padding: 3.5625rem 3.5rem 2.875rem 3.5rem;
        border-bottom-right-radius: 12.25rem;
    }

    .age-calculator__form-items {
        justify-content: flex-start;
    }

    .age-calculator__form-items > :not(:last-child) {
        margin-right: 2rem;
    }

    .age-calculator__form-label {
        margin-bottom: 0.625rem;
        font-size: 0.875rem;
        letter-spacing: 3.5px;
    }

    .age-calculator__form-input {
        width: 10rem;
        padding: 0.625rem 1.5rem;
        font-size: 2rem;
    }

    .age-calculator__button-container {
        margin-top: 3rem;
        margin-bottom: 2.25rem;
    }

    .button {
        top: 0;
        left: 93.5%;
        
        width: 6rem;
        height: 6rem;
    }

    .button img {
        width: 3rem;
    }

    .age-calculator__results > :not(:last-child) {
        margin-bottom: -1.3125rem;
    }

    .age-calculator__result {
        font-size: 6.5rem;
        letter-spacing: -2px;
    }

    .age-calculator__result span {
        margin-right: 0.75rem;
    }

    .age-calculator__form-error {
        width: 10rem;
    }
}
